/.clj-kondo/
/.cpcache/
/.lsp/
/.nrepl-port
/.shadow-cljs/
/.cljs_node_repl/
/dev-resources/public/app
/dev-resources/public/portfolio
/node_modules/
/package-lock.json
/out/
/cljs-test-runner-out/
/nexus.jar
/.clojuredart/
/lib/cljd-out/
/test/cljd-out/
/.dart_tool/
/pubspec.lock
/analysis_options.yaml
